In [99]:
import pandas as pd
import numpy as np
import string

In [100]:
# Create an empty dictionary to store words in 
Dict ={}

In [101]:
# Reading first book and extract all words from it
with open ('first book.txt','r', encoding="utf8") as f :
    for line in f :
        for word in line.split() :
            word =(word.translate(str.maketrans('', '', string.punctuation))).lower()
            if word not in Dict.keys() :
                Dict[word]=0

In [102]:
# Reading second book and increase the value of the common words by 1
with open ('second book.txt','r', encoding="utf8") as f :
    for line in f :
        for word in line.split() :
# Remove punctuation and lower words            
            word =(word.translate(str.maketrans('', '', string.punctuation))).lower()
            if word in Dict.keys() :
                Dict[word] = Dict[word] + 1

In [104]:
# transform the dictionary to a DataFrame
df = pd.DataFrame(list(Dict.items()),columns =['word','freq'])

# set the word column to be the index
df = df.set_index("word")

# Remove words with 0 freq (unrepeated words)
df =df.query('freq != 0')

# Sort values descending according to freq column
df.sort_values("freq" , ascending=False)

             freq
word
the          4483
to           4190
of           3705
and          3499
a            1982
...           ...
growth          1
calmly          1
forever         1
suddenness      1
discernible     1

[890 rows x 1 columns]

## No of common words :

In [109]:
df.shape[0]

890